---
import PageTemplate from "../components/page-template.astro";
import Profile from "../components/profile.astro";
---

<PageTemplate bgImage="aboutMe" contentLayout="aboutMeLayout">
    <Profile></Profile>
    <div class="aboutmeinfo">
        <p>
        I am a computer science major at Northeastern University, pursuing a Human-Centered Computing concentration. 
        I wish to obtain a web-development or mobile app development position for both co-op and my future career 
        as a developer. In regards to my career, I have interests in creating prototypes for app and website ideas. 
        I have recently been creating projects in HTML, CSS, and Swift to help me learn these new programming languages. 
        </p>
        <p>
            My interest in computer science began in the 9th grade when I decided to build my own PC instead of opting 
            for a prebuilt or a laptop. This hands-on project fueled my curiosity and passion for technology. Following 
            this, I enrolled in a game development course in C++, where I was both the only beginner and the only woman. 
            This challenging yet rewarding experience further solidified my commitment to pursuing a career in computer science.
        </p>
        <p>
            Outside of school, you can find me hanging out with friends, enjoying alone time at coffee shops with a matcha, 
            or lifting at the gym! When I am back at home in Philadelphia, I love spending time with my dog Bean or going on 
            trips with my family for snowboarding or just traveling. Some of my favorite places I have been to are Utah, Japan, 
            and Korea where I hope to visit again soon. To document these trips and express my creativity, I enjoy creating 
            small videos to share with friends and family. My goals include leveraging my technical skills to create innovative 
            solutions and using my creative talents to bring unique perspectives to the projects I work on. 
        </p>

        <div class="test">
            <div class="photography">
                <h3>
                    Photography
                </h3>
                <p>
                    Photography has been a passion of mine for many years, allowing me to capture and share the beauty of the world around me. 
                    It started when it became my job to take photos for Mini-THON where I encapsulated moments of joy, compassion, and accomplishment 
                    of everyone involved. My travels have also taken me to stunning locations like Utah and Japan, where I’ve been able to explore and 
                    document the unique landscapes and cultures. Additionally, I’ve enjoyed capturing special moments with friends at events like prom 
                    and graduation, preserving memories that we can all look back on with fondness. 
                </p>
            </div>
            
            <div class="photos">
                <div class="slideshow">
                    <div class="images">

                        <img src="/slideshow/photo1.jpg" id="photo1">
                        <img src="/slideshow/photo2.jpg" id="photo2">
                        <img src="/slideshow/photo3.jpg" id="photo3">
                        <img src="/slideshow/photo4.jpg" id="photo4">
                        <img src="/slideshow/photo5.jpg" id="photo5">
                        <img src="/slideshow/photo6.jpg" id="photo6">
                        <img src="/slideshow/photo7.jpg" id="photo7">
                        <img src="/slideshow/photo8.jpg" id="photo8">
                        <img src="/slideshow/photo9.jpg" id="photo9">
                        <img src="/slideshow/photo10.jpg" id="photo10">
                        <img src="/slideshow/photo11.jpg" id="photo11">
                        <img src="/slideshow/photo12.jpg" id="photo12">
                        <img src="/slideshow/photo13.jpg" id="photo13">
                        <img src="/slideshow/photo14.jpg" id="photo14">
                        <img src="/slideshow/photo15.jpg" id="photo15">
                        <img src="/slideshow/photo16.jpg" id="photo16">
                        <img src="/slideshow/photo17.jpg" id="photo17">
                        <img src="/slideshow/photo18.jpg" id="photo18">
                        <img src="/slideshow/photo19.jpg" id="photo19">
                        <img src="/slideshow/photo20.jpg" id="photo20">
                        <img src="/slideshow/photo21.jpg" id="photo21">
                        <img src="/slideshow/photo22.jpg" id="photo22">
                    </div>
                    <div class="slider-nav">
                        
                        <a href="#photo1"></a>
                        <a href="#photo2"></a>
                        <a href="#photo3"></a>
                        <a href="#photo4"></a>
                        <a href="#photo5"></a>
                        <a href="#photo6"></a>
                        <a href="#photo7"></a>
                        <a href="#photo8"></a>
                        <a href="#photo9"></a>
                        <a href="#photo10"></a>
                        <a href="#photo11"></a>
                        <a href="#photo12"></a>
                        <a href="#photo13"></a>
                        <a href="#photo14"></a>
                        <a href="#photo15"></a>
                        <a href="#photo16"></a>
                        <a href="#photo17"></a>
                        <a href="#photo18"></a>
                        <a href="#photo19"></a>
                        <a href="#photo20"></a>
                        <a href="#photo21"></a>
                        <a href="#photo22"></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</PageTemplate>