---
import PageTemplate from "../components/page-template.astro";
---
<PageTemplate bgImage="home" contentLayout="homeLayout">
	<div class="content">
		<div class="leftDiv">
			<h2>welcome!</h2>
			<h2>my name is</h2>
		</div>
		<div class="rightDiv">
			<h1 class="name">EVELYN XIAO</h1>
			<div class="infoContainer">
				<div class="infoDiv primary">
					<h3>northeastern undergraduate</h3>
					<h3>|</h3>
					<h3>computer science major</h3>
					<h3>|</h3>
					<h3>matcha lover</h3>
					<h3>|</h3>
					<h3>gym goer</h3>
					<h3>|</h3>
					<h3>dog mom</h3>
					<h3>|</h3>
					<h3>film/photography enthusiast</h3>
					<h3>|</h3>
					<h3>valorant player</h3>
					<h3>|</h3>
					<h3>northeastern undergraduate</h3>
					<h3>|</h3>
					<h3>computer science major</h3>
					<h3>|</h3>
					<h3>matcha lover</h3>
					<h3>|</h3>
					<h3>gym goer</h3>
					<h3>|</h3>
					<h3>dog mom</h3>
					<h3>|</h3>
					<h3>film/photography enthusiast</h3>
					<h3>|</h3>
					<h3>valorant player</h3>
					<h3>|</h3>
				</div>
			</div>
		</div>
	</div>
</PageTemplate>