---
import PageTemplate from "../components/page-template.astro";
import ProjectsList from "../components/projects-list.astro";
---

<PageTemplate bgImage="projects" contentLayout="projectsLayout">
    <div class="projectsDiv">
        <ProjectsList></ProjectsList>
    </div>
</PageTemplate>