---
import NavBar from "./nav-bar.astro"
const {bgImage, contentLayout} = Astro.props;
const currentPath = Astro.url.pathname;
import "../styles/stylesheet.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="../../src/stylesheet.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Evelyn Xiao</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	</head>
	
	<body class={bgImage}>
		<NavBar currentPath={currentPath}></NavBar>
		<div class={contentLayout}>
			<slot></slot>
		</div>
	</body>
</html>
