---
import NavBar from "./nav-bar.astro"
const {bgImage, contentLayout} = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="../../src/stylesheet.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Evelyn Xiao</title>
	</head>
	
	<body class={bgImage}>
		<NavBar currentPath={currentPath}></NavBar>
		<div class={contentLayout}>
			<slot></slot>
		</div>
	</body>
</html>
