<div class="profileFrame">
    <div class="info">
        <h2>Evelyn Xiao</h2>
        <a>Resume</a>
        <a>LinkedIn</a>
        <a>Github</a>
        <a>xiao.ev@northeastern.edu</a>
    </div>
    <div class="image">
        <img class="pfp" src="../images/profile-image.png">
    </div>
</div>