---
import ProjectItem from "./project-item.astro";
---

<section class="row">
    <ProjectItem title="AWS">
        <span class="title" slot="title">AWS Instance Scheduler</span>
        <span class="description" slot="about">During my internship at Quest Diagnostics, I was assigned to create an Instance Scheduler on 
            AWS to minimize cloud operational costs for 255+ AWS accounts. This web application allows Engineers to automate start-up and 
            shut-down times for resources such as EC2, RDS, and Autoscaling Groups.
        </span>
        <span class="tools" slot="tools">
            <div class="toolsContainer" >
				<div class="toolsDiv AWStools">
					<h3>Amazon Web Services</h3>
					<h3>|</h3>
					<h3>Angular</h3>
					<h3>|</h3>
                    <h3>HTML / CSS</h3>
					<h3>|</h3>
					<h3>Typescript</h3>
					<h3>|</h3>
					<h3>Gitlab</h3>
					<h3>|</h3>
                    <h3>Amazon Web Services</h3>
					<h3>|</h3>
					<h3>Angular</h3>
					<h3>|</h3>
					<h3>Typescript</h3>
					<h3>|</h3>
					<h3>HTML / CSS</h3>
					<h3>|</h3>
					<h3>Gitlab</h3>
					<h3>|</h3>
				</div>
			</div>
        </span>
    </ProjectItem>
    <ProjectItem title="SNIPE">
        <span class="title" slot="title">SNIPE</span>
        <span class="description" slot="about">SNIPE is a fun, interactive app that lets friends share candid photos of each other in a playful, 
            competitive way. Each week, group members vote on their favorite photo. The app features three modes: "Free-for-All," where everyone 
            submits photos of anyone in the group, "Target," where each player is given a specific person to take a "SNIPE" of, and "Time Capsule," 
            where old photos are shared.
        </span>
        <span class="tools" slot="tools" id="snipe">
            <div class="toolsContainer" >
				<div class="toolsDiv SNIPEtools">
					<h3>Figma</h3>
					<h3>|</h3>
					<h3>Swift</h3>
                    <h3>|</h3>
					<h3>Github</h3>
				</div>
			</div>
        </span>
    </ProjectItem>
</section>